<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpEndpoint" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="MetadataExchangeHttpBinding_ITravelService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <!--<endpointBehaviors>
        <behavior name="myEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>-->
    </behaviors>
    <services>
      <service behaviorConfiguration="myServiceBehavior" name="TravelService.TravelService">
        <endpoint address="" binding="basicHttpBinding"
            name="BasicHttpEndpoint"
            bindingConfiguration=""
            contract="TravelService.ITravelService">
          <identity>
            <dns value="medmar.eu" />
          </identity>
        </endpoint>
      </service>
    </services>
    <client>
      <endpoint address="" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpEndpoint" contract="TravelService.ITravelService"
          name="BasicHttpEndpoint" />
      <endpoint address="mex"
          binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ITravelService"
          contract="TravelService.ITravelService" name="MetadataExchangeHttpBinding_ITravelService" />
    </client>
  </system.serviceModel>

  <system.web>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
        <add name="HttpPostLocalhost"/>
      </protocols>
    </webServices>
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
    <pages validateRequest="false" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV" />

    </handlers>
    <httpProtocol>

      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />

        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS"/>

        <add name="Access-Control-Max-Age" value="1728000"/>
      </customHeaders>
    </httpProtocol>

  </system.webServer>

</configuration>